@import "antd/dist/antd.css";
body {
  margin: 0;
  /* height: 100vh; */
  width: 100%;
  /* font-size: 1rem; */
  font-family: Helvetica, sans-serif, Arial;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navBar {
  background-color: #203040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navBar a {
  color: #fff;
  margin: 2px;
}
a {
  text-decoration: none;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
.logo:hover {
  color: #ff9900;
}
.signSec {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer {
  background-color: #203040;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  position: sticky;
  bottom: 0;
}

/* product card */
ant-card-body {
  padding-top: 10px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.proImage {
  width: 85%;
  height: 85%;
}
.proDetCol .ant-card {
  line-height: 1;
  /* right: 80px; */
}
.proDetRow{
  margin-right: auto;
}
.proCont{
  height: 100vh;
}
@media screen and (max-width: 765px) {
  .proDetCol .ant-card {
    right: 80px;
  }
  .proImage {
    width: 100%;
    /* height: 100%; */
  }
}
