@import "antd/dist/antd.css";
body {
  margin: 0;
  /* height: 100vh; */
  width: 100%;
  /* font-size: 1rem; */
  font-family: Helvetica, sans-serif, Arial;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navBar {
  background-color: #203040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navBar a {
  color: #fff;
  margin: 2px;
}
a {
  text-decoration: none;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
.logo:hover {
  color: #ff9900;
}
.signSec {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer {
  background-color: #203040;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  position: fixed;
  display: block;
  width: 100vw;
  bottom: 0;
}

/* product card */
ant-card-body {
  padding-top: 10px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.proImage {
  width: 85%;
  height: 85%;
}
.proDetCol .ant-card {
  line-height: 1;
  /* right: 80px; */
}
.proDetRow {
  margin-right: auto;
}
.proCont {
  height: 100vh;
}
.cartDet {
  border: 1px black solid;
}
.cartCheckout {
  position: sticky;
  top: 85px;
}
.signInContainer {
  width: 40vw;
  background-color: #ff9900;
  margin: auto;
  height: 40vh;
  padding: 2em;
  border-radius: 10px;
  position: relative;
  top: 10vh;
}
.cartRow input{
  border:none
}
@media screen and (max-width: 765px) {
  .proDetCol .ant-card {
    right: 80px;
  }
  .proImage {
    width: 100%;
    /* height: 100%; */
  }
  .cartCheckout {
    position: sticky;
    bottom: 0;
    z-index: 5;
  }
  .cartDet {
    border: 0;
  }
  .cartRow {
    background-color: #ff9900;
    padding: 0.5rem;
  }
  .cartRow input {
    width: 50%;
    width: 21%;
  }
  .signInContainer{
        background-color: #ff9900;
        padding: 2em;
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: auto;
        border-radius: 0;
        top: 0;
  }
}
